VITE_BASE_URL=https://api.example.com
VITE_POSTHOG_PROJECT_TOKEN=phc_w5qma3XGoc5dTWguY4qCYZVroW7hV8TeSXxMfjhy8D2g
VITE_POSTHOG_HOST=https://us.i.posthog.com

# Docker host/port bindings used by docker-compose-*.yml
HOST=0.0.0.0
PORT=3000
